.env
venv
/venv
Backend/.venv/

/Backend/main/migrations/
!/Backend/main/migrations/
# Python
venv/
__pycache__/
*.pyc
db.sqlite3

# Django
.env
staticfiles/
media/

# Node
node_modules/
build/

# Mac
.DS_Store
