# ========================
# Python / Django
# ========================
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Environment variables
.env
*.pem

# Django static/media
staticfiles/
media/

# ========================
# Node / React
# ========================
node_modules/
build/

# ========================
# OS / Misc
# ========================
.DS_Store
