.env
venv
/venv
myenv
/myenv
env
__pycache__
/__pycache__
/main/__pycache__
main/__pycache__
 main/__pycache__
 algoview/__pycache__/
 Backend/algoview/__pycache__/
Backend/algoview/__pycache__/
/localenv
/logs/

Backend/logs/
#  logs/webhooks.log
 Backend/media/strategy/
  Backend/media/kyc_documents/
  Backend/media/profile_pictures
Backend/logs/
NFO.csv
