.env
venv
/venv
myenv
/myenv
.envr
__pycache__
/__pycache__
/main/__pycache__
main/__pycache__
 main/__pycache__
 algoview/__pycache__/
 Backend/algoview/__pycache__/
Backend/algoview/__pycache__/
/localenv
algoview/__pycache__
# logs/webhooks.log
 Backend/media/strategy/
  Backend/media/kyc_documents/
  Backend/media/profile_pictures
Backend/logs/
NFO.csv
ANGLE_NFO.csv
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
logs/webhooks.log
